* {
    box-sizing: border-box;
}

header, .btnHolder, main, footer {
    margin: 5px auto 5px auto;
    width: 80vw;
    border: 1px solid lightgray;
    border-radius: 10px;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rubrik {
    color: rgb(47, 151, 47);
    border-bottom: none;
    margin-right: 15%;
}

/* body {
    background-color: rgb(83, 116, 83);
    background-color: rgb(99, 158, 99);

} */

#logo {
    width: 70px;
    margin: 5px;
}

nav {
    margin: 5px auto 5px auto;
    width: 80vw;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 10px;
}

.indMain {
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prodPage {
    border-bottom: none;
    color: gray;
    background-color: rgba(255, 255, 255, 0.452);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

footer {
    height: 80px;
    display: flex;
    padding: 10px;
}

nav button {
    width: 20%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 2rem;
    color: rgb(3, 63, 3);
}

.btnProd {
    width: auto;
}

nav button:hover {
    background-color: salmon;
}

.txtF {
    font-size: 1rem;
    color: rgb(167, 167, 167);
    display: inline-block;
    width: 50%;
    padding: 15px;
}

.smBtn {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding: 15px;
}

.sm, .darklgh {
    background-color: white;
    border: none;
    font-size: 2rem;
    color: rgb(167, 167, 167);
}

.sm:hover, .darklgh:hover {
    color:rgb(3, 63, 3)
}

form {
    border: 1px solid black;
    border-radius: 10px;
    height: 30vh;
    width: 60%;
    margin: 15px auto 5px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    background-color: rgb(0, 56, 0);
    justify-content: center;
}

#password, #username, form button {
    background-color: white;
    margin: 5px;
    font-size: 1.5rem;
    border: 1px solid gainsboro;
    text-align: center;
    border-radius: 10px;
}

form button:hover {
    background-color: rgb(0, 56, 0);
    color: white;
}

.create, .btnProd {
    background-color: white;
    border: 1px solid lightgray;
    color: rgb(3, 63, 3);
    border-radius: 10px;
    font-size: 1.6rem;
    margin: 10px;
}

.create:hover, .btnProd:hover {
    background-color: rgb(0, 56, 0);
    color: white;
}

.prodForm {
    width: 60%;
    height: 450px;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* background-color: rgb(252, 232, 232); */
    background-color: salmon;
    display: flex;
    overflow: scroll;
}

.prodName, .prodDesc, .prodImg, .prodPrice, .prodBtn, .imgUrl, label, .prodInv, .getImg {
    height: 30px;
    font-size: 1.3rem;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
}

.prodDesc {
    height: 80px;
    overflow-wrap: break-word;
}

.adminHead {
    height: 100px;
}

.cartMain, .wlMain {
    min-height: 700px;
    background-image: none;
}

.adminMain {
    height: 550px;
}

.wlMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodMain {
    min-height: 800px;
    background-image: none;
}

.productsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

.prodImg {
    width: 100%;
    height: auto;
}

.prodDiv {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border: 1px solid rgba(144, 238, 144, 0.514);
    margin: 2px;
    width: 30%;
    padding: 5px;
    overflow-wrap: break-word;
}

.buyBtn, .wlBtn {
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 1.5rem;
    border-radius: 20px;
    margin: 2px;
}

.buyBtn:hover {
    background-color: rgb(0, 56, 0);
    color: white;
}

.wlBtn {
    color: red;
}

.wlBtn:hover {
    background-color: red;
    color: white;
}

.heart {
    color: white;
    background-color: red;
}

p {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

h1 {
    color: rgb(3, 63, 3);
    border-bottom: 1px solid lightgrey;
}

h2 {
    text-align: center;
}

span {
    font-size: 1.4rem;
    font-weight: bold;
}

.cartMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.total {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* padding-right: 50px; */
}

.placeOrder {
    background-color: rgba(211, 255, 211, 0.733);
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 1.5rem;
    color: rgb(88, 88, 88);
}

.placeOrder:hover {
    color: white;
    background-color: rgb(0, 56, 0);
}

.lsTag {
    /* border: 1px solid green; */
    background-color: rgba(255, 0, 0, 0.253);
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    color: rgb(66, 66, 66);
}

.wlDiv, .scDiv {
    width: 95%;
    min-height: 250px;
    display: flex;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.scDiv {
    width: 100%;
}

.wlDiv img, .scDiv img {
    width: 150px;
    margin-right: 10px;
}

.contentDiv {
    flex: 4;
}

.contentDiv p {
    width: 100%;
}

.removeBtn {
    background-color: white;
    border-radius: 20px;
    font-size: 1.4rem;
    border: 1px solid grey;
}

.removeBtn:hover {
    color: red;
}

.orderMain {
    height: 100vh
}

.orderDetails {
    width: 60vw;
    margin: 5px auto 5px auto;
}

#payment-form {
    background-color: #6d6c6c;
    display: none;
    height: auto;
}

#payment-form input {
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}

#card, .StripeElement {
    color: white;
    background-color: white;
    font-size: 20px
}

/* body {
    --text-color: #222;
    --bkg-color: #fff;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
} */

@media (max-width: 420px) {
    header, nav, main, footer, .btnHolder {
        width: 100vw;
    }

    .productsPage {
        flex-direction: column;
    }

    .prodDiv, .prodForm {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
    body {
        color: #eee;
        background: #121212;
      }
      nav button {
          background-color: #121212;
      }
      .sm, .darklgh {
          background-color: #121212;
      }
      a {
        color: #809fff;
      }
      h1 {
          color:rgb(47, 151, 47)
      }

      .light-theme {
        color: #222;
        background-color: #fff;
      }
  }
  
  /* @media (prefers-color-scheme: light) {
    /* Light theme styles go here */